In [194]:
import pandas as pd


class PlantAssay():
    '''Dallaglio Plant Assay Extractor
    -------------------------------
    Collect the daily data from each sheet in the Dallagio Plant Assays excel report,
    and return the full month's data in table format (csv)
    
    excel_filename (str): path to plant assay excel file
    assay_format (str): `Old` or `New`'''
    
    def __init__(self, excel_filename, assay_format='Old'):
        
        self.dict_sheets_dfs = pd.read_excel(excel_filename, sheet_name=None)
        self.assay_sheet_names = list(dict_sheets_dfs.keys())
        self.assay_format = assay_format
        
    def get_report_details(self, df):
        
        site_name = df.iloc[1].index[0]
        
        
        report_details = {'report_number': df.iloc[1][9],
                          'sample_date': pd.to_datetime(df.iloc[1][2]).date(),
                          'date_received': pd.to_datetime(df.iloc[2][2]).date(),
                          'assay_date': pd.to_datetime(df.iloc[3][2]).date()
                         }
        
        return report_details
    
    def get_crushing_milling_grade_summary(self, df_left_section):
        df_crs_mil_grades = df_left_section.loc[5:6].dropna(axis=1, how='all')

        crushing_milling_grade_summary = {'crusher_feed_DS': df_crs_mil_grades.loc[5].values[1:][0],
                                          'crusher_feed_NS': df_crs_mil_grades.loc[5].values[1:][1],
                                          'mill_feed_DS': df_crs_mil_grades.loc[6].values[1:][0],
                                          'mill_feed_NS': df_crs_mil_grades.loc[6].values[1:][1]
                                         }
        
        return crushing_milling_grade_summary
    
    def get_solids_gpt(self, df_left_section):
        df_solids = df_left_section.loc[13-2:27-2].dropna(axis=1, how='all')
        df_solids.columns = ['SOLIDS','DS','NS']
        df_solids = df_solids.drop(index=11, axis=0)
        df_solids['SOLIDS'] = [name .replace('"', 'LEACH TANK').replace(' ', '') for name in df_solids.SOLIDS.values]
        df_solids.set_index('SOLIDS', inplace=True)

        df_solids_ds = df_solids[['DS']]
        df_solids_ds.index = [name + '_DS' for name in df_solids_ds.index]
        df_solids_ds

        df_solids_ns = df_solids[['NS']]
        df_solids_ns.index = [name + '_NS' for name in df_solids_ns.index]
        df_solids_ns
        
        return df_solids_ds['DS'], df_solids_ns['NS']
    
    def get_solutions_ppm(self, df_left_section):
        df_solution = df_left_section.loc[30-2:44-2].dropna(axis=1, how='all')
        df_solution.columns = ['SOLUTIONS','DS','NS']
        df_solution = df_solution.drop(index=11, axis=0)
        df_solution['SOLUTIONS'] = [name .replace('"', 'LEACH TANK').replace(' ', '') for name in df_solution.SOLUTIONS.values]
        df_solution.set_index('SOLUTIONS', inplace=True)

        df_solution_ds = df_solution[['DS']]
        df_solution_ds.index = [name + '_DS' for name in df_solution_ds.index]
        df_solution_ds

        df_solution_ns = df_solution[['NS']]
        df_solution_ns.index = [name + '_NS' for name in df_solution_ns.index]
        df_solution_ns
        
        return df_solution_ds['DS'], df_solution_ns['NS']
    
    def get_elution_related_values(self, df_left_section):
        pass

In [81]:
excel_filename = '2020 AUGUST PLANT ASSAYS.xlsx'

In [96]:
def mold_master
# select sheet as df
assay_sheet_name = assay_sheet_names[0]
df = dict_sheets_dfs[assay_sheet_name]

df_left_section = df.iloc[4:82, 1:6]
df_right_section = df.iloc[4:84, 8:8+7]

In [199]:
df_elution_carbon = df_left_section.loc[68-2:72-2].dropna(axis=1, how='all')
df_elution_carbon

   Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
66   31.07.20       HEAD     EL2528       1256
67   31.07.20       HEAD     EL2529       1461
68   31.07.20       HEAD     EL2530       1339
69   31.07.20      TAILS     EL2527         62
70   31.07.20      TAILS     EL2528         76

In [202]:
df_carbon_activites = df_left_section.loc[75-2:78-2].dropna(axis=1, how='all').dropna(axis=0, how='all')
df_carbon_activites

   Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
74   31.07.20      TAILS     EL2527     0.7178
75   31.07.20      TAILS     EL2528     0.7098

In [203]:
df_electrowinning = df_left_section.loc[81-2:84-2].dropna(axis=1, how='all').dropna(axis=0, how='all')
df_electrowinning

   Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
80   31.07.20      TAILS     EL2527       2.51
81   31.07.20      TAILS     EL2528       2.95

In [231]:
df_mfeed_cfeed = df_right_section.loc[:54].copy()
df_mfeed_cfeed.columns = ['TIME', 'M/FEED', 'FEED SOURCE', 'TONNES', 'C/FEED', 'FEED SOURCE','TONNES']
df_mfeed_cfeed.drop(index=4, inplace=True)

add_feed_sources = df_mfeed_cfeed[df_mfeed_cfeed['TIME'].isnull()].reset_index(drop=True)['FEED SOURCE'].iloc[:, 1]
df_add_feed_sources = pd.DataFrame(add_feed_sources)

df_mfeed_cfeed = df_mfeed_cfeed[df_mfeed_cfeed['TIME'].notnull()].reset_index(drop=True)
df_mfeed_cfeed['FEED SOURCE CONCAT'] = df_add_feed_sources

In [250]:
df_mfeed_cfeed

,TIME,M/FEED,FEED SOURCE,TONNES,C/FEED,FEED SOURCE,TONNES,FEED SOURCE CONCAT
0,0000HRS,1.548,ROM,NaN,1.416,PE03BL931CQ4C,20,BBQ2A
1,0100HRS,1.604,ROM,NaN,1.544,PE03BL931CQ4C,38,BBQ2A
2,0200HRS,2.02,SF,NaN,-,NaN,-,NaN
3,0300HRS,1.564,ROM,NaN,1.944,PE03BL931CQ4C,51,BBQ2A
4,0400HRS,1.388,ROM,NaN,1.436,NaN,60,BBQ2A
5,0500HRS,1.732,ROM,NaN,1.432,NaN,55,BBQ2A
6,0600HRS,2.024,ROM,NaN,1.62,NaN,54,BBQ2A
7,0700HRS,2.784,ROM,NaN,2.536,PE01BL933Q2A,47,"PE01BL933Q1B,PE01BL933Q1C"
8,0800HRS,2.508,ROM,NaN,4.956,PE01BL933Q2A,79,"PE01BL933Q1B,PE01BL933Q1C"
9,0900HRS,2.94,ROM,NaN,2.392,PE01BL933Q2A,39,"PE01BL933Q1B,PE01BL933Q1C"
10,1000HRS,1.98,ROM,NaN,2.828,PE01BL933Q2A,38,"PE01BL933Q1B,PE01BL933Q1C"
11,1100HRS,1.584,ROM,NaN,1.752,PE01BL933Q2A,70,"PE01BL933Q1B,PE01BL933Q1C"
12,AVE,1.97,NaN,NaN,2.17,NaN,NaN,NaN
13,1200HRS,3.996,ROM,NaN,3.804,PE01BL933Q2A,70,"PE01BL933Q1B,PE01BL933Q1C."
14,1300HRS,2.08,ROM,NaN,1.492,PE01BL933Q2A,70,"PE01BL933Q1B,PE01BL933Q1C."
15,1400HRS,1.648,ROM,NaN,2.7,PE01BL933Q2A,75,"PE01BL933Q1B,PE01BL933Q1C."
16,1500HRS,2.724,ROM,NaN,3.472,PE01BL933Q2A,60,"PE01BL933Q1B,PE01BL933Q1C."
17,1600HRS,2.248,ROM,NaN,1.824,PE01BL933Q2A,64,"PE01BL933Q1B,PE01BL933Q1C."
18,1700HRS,1.668,ROM,NaN,2.18,PE01BL933Q2A,50,"PE01BL933Q1B,PE01BL933Q1C."
19,1800HRS,1.804,ROM,NaN,2.972,PE01BL933Q2A,50,"PE01BL933Q1B,PE01BL933Q1C."
20,1900HRS,2.668,ROM,NaN,2.044,"PE01BL933Q1B,PE01BL933Q1C",55,PE01BL933Q2A
21,2000HRS,1.972,ROM,NaN,1.992,"PE01BL933Q1B,PE01BL933Q1C",46,PE01BL933Q2A
22,2100HRS,1.704,ROM,NaN,1.532,"PE01BL933Q1B,PE01BL933Q1C",49,PE01BL933Q2A
23,2200HRS,2.852,ROM,NaN,2.148,"PE01BL933Q1B,PE01BL933Q1C",33,PE01BL933Q2A
24,2300HRS,1.708,ROM,NaN,3.1,"PE01BL933Q1B,PE01BL933Q1C",33,PE01BL933Q2A