In [1]:
import os
import time

import numpy as np
import pandas as pd

In [2]:
fns = [fn for fn in os.listdir() if '.csv' in fn]
fns

['metacc_crs_wgh_wt_TRANSPOSED.csv',
 'scats_vol_ton_gpt.csv',
 'metacc_crs_wgh_wt.csv',
 'SCATS_MARCH2020.csv',
 'RD-LS-MA-Crushing-May-2020 - Crushing.csv']

In [4]:
df = pd.read_csv(fns[-1], index_col='Date')
df = df.fillna(0)
df.head()

,PP_CRS_MOI_FD_PER_DS,PP_CRS_MOI_FD_PER_NS,PP_CRS_RUN_TIME_HR_DS,PP_CRS_RUN_TIME_HR_NS,PP_DR_CRS_TC_WT_DS,PP_DR_CRS_TC_WT_NS,PP_CRS_GR_GPT_DS,PP_CRS_GR_GPT_NS
Date,,,,,,,,
2020-05-01,3.66,3.66,7.94,9.12,749,900,2.70,2.11
2020-05-02,3.95,3.95,7.89,9.06,655,900,1.71,1.90
2020-05-03,3.13,3.13,10.43,7.57,776,563,1.55,1.73
2020-05-04,4.62,4.62,9.64,8.79,698,652,0.97,1.13
2020-05-05,1.37,1.37,3.75,4.54,358,415,1.76,1.60

In [5]:
shift = '_DS'
df_day =  df.loc[:, df.columns.str.contains(shift)]
df_day.columns = df_day.columns.str.replace(shift, '')
df_day.index = pd.to_datetime([date + ' 06:00' for date in df_day.index])

shift = '_NS'
df_night =  df.loc[:, df.columns.str.contains(shift)]
df_night.columns = df_night.columns.str.replace(shift, '')
df_night.index = pd.to_datetime([date + ' 18:00' for date in df_night.index])

In [6]:
# df_day = df_day.reset_index().copy()
# df_night = df_night.reset_index().copy()

concat_df = pd.concat([df_day,df_night]).sort_index().transpose()

In [7]:
concat_df.to_csv('RD-LS-MA-Crushing-May-2020 - Crushing-TRANSPOSED.csv', float_format='%g')

### CRS WGH T

In [4]:
fns[1]

'metacc_crs_wgh_wt.csv'

In [11]:
df = pd.read_csv(fns[1], index_col='Date', parse_dates=['Date'])
df = df.fillna(0)
df.head()

             PP_CRS_WGT_WT_DS    PP_CRS_WGT_WT_NS
Date
2020-06-01                 794                 787
2020-06-02                 649                 417
2020-06-03                 138                 428
2020-06-04                 798                 889
2020-06-05                 547                 701

In [22]:
shift = '_DS'
df_day =  df.loc[:, df.columns.str.contains(shift)]
df_day.columns = df_day.columns.str.replace(shift, '')
df_day.index = pd.to_datetime([str(date) + ' 06:00' for date in df_day.index])

shift = '_NS'
df_night =  df.loc[:, df.columns.str.contains(shift)]
df_night.columns = df_night.columns.str.replace(shift, '')
df_night.index = pd.to_datetime([str(date) + ' 18:00' for date in df_night.index])

In [23]:
# df_day = df_day.reset_index().copy()
# df_night = df_night.reset_index().copy()

concat_df = pd.concat([df_day,df_night]).sort_index().transpose()

In [24]:
concat_df.to_csv('metacc_crs_wgh_wt_TRANSPOSED.csv', float_format='%g')

In [25]:
concat_df

,2020-06-01 06:00:00,2020-06-01 18:00:00,2020-06-02 06:00:00,2020-06-02 18:00:00,2020-06-03 06:00:00,2020-06-03 18:00:00,2020-06-04 06:00:00,2020-06-04 18:00:00,2020-06-05 06:00:00,2020-06-05 18:00:00,...,2020-06-26 06:00:00,2020-06-26 18:00:00,2020-06-27 06:00:00,2020-06-27 18:00:00,2020-06-28 06:00:00,2020-06-28 18:00:00,2020-06-29 06:00:00,2020-06-29 18:00:00,2020-06-30 06:00:00,2020-06-30 18:00:00
PP_CRS_WGT_WT,794,787,649,417,138,428,798,889,547,701,...,599,701,713,630,724,690,839,743,680,1285

In [21]:
shift = 'DS_'
df.columns.str.contains(shift)
# df.loc[:, df.columns.str.contains(shift)]

array([False, False])