In [11]:
import os
import time

import numpy as np
import pandas as pd

In [6]:
fns = [fn for fn in os.listdir() if '.csv' in fn]
fns

['SCATS_MARCH2020.csv']

In [35]:
df = pd.read_csv(fns[0], index_col='Milling Date')
df = df.fillna(0)
df.head()

,M1_DS_VOL,M1_DS_T,M1_DS_GPT,M1_NS_VOL,M1_NS_T,M1_NS_GPT,M3_DS_VOL,M3_DS_T,M3_DS_GPT,M3_NS_VOL,M3_NS_T,M3_NS_GPT
Milling Date,,,,,,,,,,,,
3/1/2020,1.6,2.704,0.73,14.7,24.843,1.46,6.0,10.140,1.02,12.70,21.4630,0.70
3/2/2020,4.3,7.267,0.71,7.9,13.351,0.74,21.0,35.490,0.83,16.90,28.5610,1.17
3/3/2020,0.0,0.000,0.82,8.9,15.041,0.00,17.0,28.730,1.39,0.36,0.6084,0.44
3/4/2020,0.0,0.000,0.00,3.0,5.070,0.64,7.1,11.999,0.36,2.70,4.5630,0.62
3/5/2020,1.6,2.704,0.53,2.3,3.887,0.94,12.3,20.787,0.55,0.00,0.0000,0.00

In [65]:
shift = 'DS_'
df_day =  df.loc[:, df.columns.str.contains(shift)]
df_day.columns = df_day.columns.str.replace(shift, '')
df_day.index = pd.to_datetime([date + ' 06:00' for date in df_day.index])

shift = 'NS_'
df_night =  df.loc[:, df.columns.str.contains(shift)]
df_night.columns = df_night.columns.str.replace(shift, '')
df_night.index = pd.to_datetime([date + ' 18:00' for date in df_night.index])

In [68]:
# df_day = df_day.reset_index().copy()
# df_night = df_night.reset_index().copy()

concat_df = pd.concat([df_day,df_night]).sort_index().transpose()

In [70]:
concat_df.to_csv('scats_vol_ton_gpt.csv', float_format='%g')